#################  .dockerignore  #################

#################    IDE files    #################
.DS_STORE
.netbeans
nbproject
.node_history
__pycache__
.idea

################# version control #################
.hg
.gitignore
.git
.hgignore
